* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
ul,
ol,
li {
    list-style: none;
}
img,
svg {
    max-width: 100%;
    height: auto;
    border-style: none;
}
details,
main {
    display: block;
}
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}
input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
button {
    border: none;
    cursor: pointer;
}
[hidden],
template {
    display: none;
}
textarea {
    overflow: auto;
}
progress {
    vertical-align: baseline;
}
h1,h2,h3,h4 
{
    font-weight: inherit;
}